<% if comment.persisted? %>
  <div class="custom-comment clearfix" data-type="comment" data-id="<%= comment.id %>">
    <div class="row">
      <div class="col-xs-12">
        <%= link_to  image_tag(comment.author.profile.profile_photo_url(:thumb),
                     alt: "Profile Image", class: "thumbnail img-thumbnail-left pull-left custom-poster"),
                     user_path(comment.author) %>

        <div class="custom-post-header">
          <%= link_to "#{comment.author.profile.first_name} #{comment.author.profile.last_name}", user_path(comment.author) %>
          said <time datetime="<%= comment.created_at %>"><%= time_ago_in_words(comment.created_at) + " ago" %></time>
        </div>

        <p><%= comment.body %></p>

        <!-- Links -->
        <%= render partial: 'shared/like_link',
                            locals:  { likable: comment } %>

        <span class="likes"></span>
        <%= list_of_likes( comment ) %>

        <% if current_user.id == comment.author_id %>
            <%= link_to [comment.commentable, comment],
                        method: :delete,
                        class: "pull-right",
                        remote: true do %>
                          Delete
                        <% end %>
        <% end %>
      </div>
    </div>


  </div><!-- post comment -->
<% end %>
