<% if comment.persisted? %>
  <div class="custom-comment clearfix">
    <div class="row">
      <div class="col-xs-2">
        <%= link_to image_tag('tyrion1.png', class: "img-thumbnail pull-right custom-poster"),
                    '#' %>
      </div>
      <div class="col-xs-10">
        <div class="custom-post-header">
          <a href="#0"><%= "#{comment.author.profile.first_name} #{comment.author.profile.last_name}" %></a>
          said on <time datetime="<%= comment.created_at %>"><%= comment.created_at %></time>
        </div>

        <p><%= comment.body %></p>

        <!-- Links -->
        <%= render partial: 'shared/like_link',
                            locals:  { likable: comment } %>

        <%= list_of_likes( comment ) %>

        <% if current_user.id == comment.author_id %>
            <%= link_to "Delete", [comment.commentable, comment],
                        method: :delete,
                        class: "pull-right" %>
        <% end %>
      </div>
    </div><!-- row -->
  </div><!-- post comment -->
<% end %>
