<style>
  .banner-wrapper {
    background-image: url("<%= asset_path user.profile.cover_photo_url %>");
  }
</style>

<section id="profile-banner">


    <div class="banner-wrapper col-xs-12">
      <%= image_tag user.profile.profile_photo_url(:medium), alt: "Profile Image", class: "thumbnail img-large" %>
    </div>


  <div class="row">
    <div class="col-xs-12">
      <nav class="navbar navbar-default">
          <ul class="nav navbar-nav">
            <li class="nav-item-pusher"> - </li>
            <li class="user-name"><%= link_to "#{user.profile.first_name} #{user.profile.last_name}", user_path(user) %></li>
            <li><%= link_to "Timeline", user_path(user) %></li>
            <li><%= link_to "About", user_profile_path(user) %></li>
            <li><%= link_to "Photos", user_photos_path(user) %></li>
            <li><%= link_to "Friends (#{user.friends.count})", friendings_path( id: user.id ) %></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if current_user.id == user.id %>
            <li><%= link_to "Edit Profile", edit_user_profile_path( current_user ) %></li>
            <% else %>
            <li><%= render partial: 'shared/friend_link', locals: { user: user } %></li>
            <% end %>
          </ul>
      </nav>
    </div>
  </div>

</section>
