<style>
  .banner-wrapper {
    background-image: url('<%= user.profile.cover_photo ? (user.profile.cover_photo.user_photo.url) : ('../assets/castle.jpg')%>');
  }
</style>

<section class="row" id="profile-banner">
  <div class="col-xs-12">
    <div class="row">
      <div class="banner-wrapper col-xs-12">
        <% if user.profile.profile_photo %>
        <%= image_tag user.profile.profile_photo.user_photo.expiring_url(10, :medium), alt: "Profile Image", class: "thumbnail" %>
        <% else %>
        <%= image_tag 'user_silhouette_generic.gif', alt: "Profile Image", class: "thumbnail" %>
        <% end %>
      </div>
    </div>

    <div class="row">
        <nav class="navbar navbar-default">
          <div class="col-sm-2 col-sm-offset-2">
            <h4 class="text-center"><%= "#{user.profile.first_name} #{user.profile.last_name}" %></h4>
          </div>
          <div class="col-sm-6">
            <ul class="nav navbar-nav ">
              <li><%= link_to "Timeline", user_path(user) %></li>
              <li><%= link_to "About", user_profile_path(user) %></li>
              <li><%= link_to "Photos", user_photos_path(user) %></li>
              <li><%= link_to "Friends (#{user.friends.count})", friendings_path( id: user.id ) %></li>
            </ul>
          </div>
          <div class="col-sm-2">
            <ul class="nav navbar-nav navbar-right">
              <% if current_user.id == user.id %>
                <li><%= link_to "Edit Profile", edit_user_profile_path( current_user ) %></li>
              <% else %>
                <li><%= render partial: 'shared/friend_link', locals: { user: user } %></li>
              <% end %>
            </ul>
          </div>
        </nav>
    </div>
  </div>
</section>
