<div class="col-xs-12">

<%= simple_form_for(user, html: { class: 'form-horizontal' } )  do |f| %>
  <%= f.simple_fields_for(:profile, html: { class: 'form-horizontal' } ) do |profile_form| %>
    <div class="row">
      <div class="col-sm-5">
        <%= profile_form.input :first_name, placeholder: sign_up_placeholders[:first_name],
                                 label: false,
                                 item_wrapper_class: 'text-inline' %>
      </div>
      <div class="col-sm-6 col-sm-offset-1">
        <%= profile_form.input :last_name, placeholder: sign_up_placeholders[:last_name],
                                label: false,
                                item_wrapper_class: 'text-inline' %>
      </div>
    </div>
  <% end %>


  <%= f.input :email,     placeholder: sign_up_placeholders[:email],
                          label: false %>

  <%= f.input :password,  placeholder: sign_up_placeholders[:password],
                          label: false %>

  <%= f.input :password_confirmation,
                          placeholder: sign_up_placeholders[:password_confirmation],
                          label: false %>

  <%= f.simple_fields_for(:profile, html: { class: 'form-horizontal' } ) do |profile_form| %>
  <div class="row">
    <div class="col-xs-12">

      <%= profile_form.input :birthday,  start_year: Date.today.year - 90,
      end_year: Date.today.year - 10,
      order: [:month, :day, :year] %>

      <div class="row">

        <%= profile_form.input :gender,    collection: Profile.gender_options.keys.map(&:humanize),
        value_method: :downcase,
        as: :radio_buttons,
        item_wrapper_class: 'radio-inline',
        label: false %>
      </div>
    </div>
  </div>
  <% end %>


  <div class="row">
    <%= f.button :submit,   class: "btn-success", id: "btn-cta" %>
  </div>

<% end %>
</div>
