<% if post.persisted? %>

  <article class="panel panel-default">
    <div class="panel-body">
      <div class="custom-post-header clearfix">
        <!-- Author info -->
        <%= render partial: 'users/activity_signature',
                   locals:  { user: post.author, object: post } %>
      </div>

      <!-- Post body -->
      <p><%= post.body %></p>

    </div>

    <div class="panel-footer">

      <!-- Action Links -->
      <%= render partial: 'shared/like_link', locals: { likable: post } %>
      <a href="#">Comment</a>
      <% if current_user.id == post.author.id %>
       <%= link_to "Delete", user_post_path(post.author, post),
                             method: :delete,
                             class: "pull-right" %>
      <% end %>

      <!-- Likes -->
      <div class="custom-post-liked">
        <%= list_of_likes( post ) %>
      </div>

      <!-- Comments -->
      <%= render post.comments %>

      <!-- Comment Form -->
      <%= render partial: 'comments/comment_form',
                 locals:  { commentable: post,
                            comment:     post.comments.build }%>

    </div>
  </article>
<% end %>
