<% if post.persisted? %>

  <article class="panel panel-default">
    <div class="panel-body">
      <!-- Author info -->
      <div class="custom-post-header clearfix">
        <%= link_to image_tag('tyrion1.png', class: "img-thumbnail pull-left custom-poster"),
                    '#' %>

        <div class="col-xs-10">
          <%= link_to "#{post.author.profile.first_name} #{post.author.profile.last_name}", "#" %>
          <p>Posted on <time datetime="<%= post.created_at %>"><%= post.created_at %></time></p>
        </div>
      </div>

      <!-- Post body -->
      <p><%= post.body %></p>

    </div>

    <div class="panel-footer">

      <!-- Action Links -->
      <%= render partial: 'shared/like_link', locals: { likable: post } %>
      <a href="#">Comment</a>
      <% if current_user.id == post.author.id %>
       <%= link_to "Delete", user_post_path(post.author, post),
                             method: :delete,
                             class: "pull-right" %>
      <% end %>

      <!-- Likes -->
      <div class="custom-post-liked">
        <%= list_of_likes( post ) %>
      </div>

      <!-- Comments -->
      <%= render post.comments %>

      <!-- Comment Form -->
      <%= render partial: 'comments/comment_form',
                 locals:  { commentable: post,
                            comment:     post.comments.build }%>

    </div>
  </article>
<% end %>
